body {
    background-color: white;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #bf0505;
}

/* headings and logo */

h1,
h2,
h3,
h4 {
    font-family: Arial, sans-serif;
    letter-spacing: 4px;
    color: #bf0505;
}

p {
    color: black;
}

.hero-image {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.alert {
    color: #061174;
}

.custom-bg {
    background-color: #061174;
}

.custom-color {
    background-color: #bf0505;
    color: white;
}

.custom-form {
    border-style: solid;
    border-color: #bf0505;
    padding: 10px;
}

/* Custom the food and wine image */
.food {
    width: 100%;
    height: auto;
    max-width: 300px;
}

@media (max-width: 992px) {
    .food {
        max-width: 400px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .food {
        max-width: 300px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .food {
        max-width: 200px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
