{% extends "base.html" %}
{% load static %}

{% block content %}
{% block content %}
<h1>Bookings</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Number of Guests</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.name }}</td>
            <td>{{ booking.email }}</td>
            <td>{{ booking.phone }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.time }}</td>
            <td>{{ booking.number_of_guests }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}