{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section style="position: relative;">
    <img src="{% static 'booking_app/images/moai.jpg' %}" alt="Hero Image" class="hero-image" width="80%" height="600">
    <div
        style="position: absolute; top: calc(50% - 50px); left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <h1 style="color: white;">Welcome to DerHuaso Restaurant</h1>
    </div>
</section>
<!-- End Hero -->

<!-- Alert message -->
<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="alert alert-danger text-center">
                    Open Everyday from 6pm to 12pm - Bookings Essential - Reservation until 10pm
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<section class="my-3">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="text-center">History</h2>
            <br>
            <p class="text-center">Welcome to DerHuaso, a restaurant that brings the flavors of Chilean dishes to Germany. Our story began in 1995
            when our founder, Ignacio, moved to Germany from Chile. He missed the taste of home and wanted to share it with
            others. So, she started cooking traditional Chilean dishes in her kitchen and invited her friends over to try them.
            They loved the food so much that they encouraged her to open a restaurant.</p>
            <br>
            <p class="text-center">We’re proud to say that we use only the freshest ingredients in our dishes and prepare everything from scratch. We also
            have an extensive selection of Latin American wines and cocktails to complement your meal.</p>
            <br>
            <p class="text-center">Thank you for choosing DerHuaso Restaurant We hope you enjoy your dining experience with us!</p>
        </div>
    </div>
</section>
<br>
<hr style="height: 2px; background-color: #bf0505" />
<br>
<!-- Show Booking form -->
<div class="container my-3">
    <div class="row">
        <div class="col-md-8">
            <!-- Left column with Restaurant information -->
            <h4 class="text-sm-center ">Chilean Food: A Culinary Journey</h4>
            <br>
            <p class="text-left">Chilean cuisine is a reflection of the country’s diverse geography and rich culinary heritage. The coastal region offers
            an abundance of seafood, including oysters, scallops, salmon, clams, and Patagonian King Crab. Chilean seafood is often
            prepared simply, allowing the natural flavors to shine through. Traditional dishes like empanadas and pastel de choclo
            showcase the country’s culinary heritage. The Spanish influence can be seen in fisherman’s stews, while fusion dishes
            like ceviche and sushi reflect other culinary influences</p>
            <br>
            <h4 class="text-sm-center ">Chilean Wine: A Perfect Pairing</h4>
            <br>
            <p class="text-left">Chilean wine is another highlight of the country’s gastronomy. The coastal wine regions produce crisp and aromatic wines
            that pair perfectly with seafood. Sauvignon Blanc from Leyda offers herbal aromatics and citrus fruit flavors, while
            Chardonnay from Limari is known for its tropical and mineral-rich profile. For red wine lovers, cool climate Pinot Noir
            from Casablanca Valley is earthy and fruity, making it an excellent choice for seafood pairings.</p>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'booking_app/images/empanadas.jpg' %}" alt="Food Image" class="food" width="300"
                        height="200">
                </div>
                <div class="col-md-6">
                    <img src="{% static 'booking_app/images/wines.jpg' %}" alt="Wine Image" class="food" width="300"
                        height="200">
                </div>
            </div>
        </div>
        <div class="col-md-4 custom-form">
            <!-- Right column with the form -->
            <h4 class="text-sm-center">Booking Form</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class= "custom-color" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<br>

{%endblock%}